<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= champion.tournament %> - <%= champion.champion %></title>
</head>
<body>
    <%- include("../partials/nav") %>
    <h1><%= champion.tournament %></h1>
    <p><strong>Champion:</strong> <%= champion.champion %></p>
    <p><strong>Year:</strong> <%= champion.year %></p>
    <p><strong>Level:</strong> <%= champion.level %></p>
    <p><strong>Final Score:</strong> <%= champion.finalScore %></p>

    <a href="/champions">Back</a>
    <% if (user._id === champion.creator) { %>
 <a href="/champions/<%= champion._id %>/edit">Edit</a>
    <form action="/champions/<%= champion._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <% } %>
   
</body>
</html>