<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= champion.tournament %> - <%= champion.champion %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../partials/nav") %>
    <div class="champions-drill-card">
    <h1><%= champion.tournament %></h1>
    <p><strong>Champion:</strong> <%= champion.champion %></p>
    <p><strong>Year:</strong> <%= champion.year %></p>
    <p><strong>Level:</strong> <%= champion.level %></p>
    <p><strong>Final Score:</strong> <%= champion.finalScore %></p>

    <a href="/champions">Back</a>
    
    <% if (user && user._id && user._id.toString() === champion.creator.toString()) { %>
 <a href="/champions/<%= champion._id %>/edit">Edit</a>
    <form action="/champions/<%= champion._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <% } %>
   </div>
</body>
</html>